<h1>Groups</h1>
  <% @groups.each do |group| %>
      <%= link_to group, class:'list-item d-flex justify-content-between p-2' do%>
        <div><%= group_icon(group) %></div>
        <div><%= group.name %></div>
      <% end %>
  <% end %>
<%= link_to 'New Group', new_group_path, class:'btn mb-2' %>
