<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<%= link_to 'My Groups', groups_path%><br />
<%= link_to 'My Reading Zones', time_blocks_path%><br />

<%= link_to 'Edit', edit_user_path(@user) %>
