@import "bootstrap";

body {
  font-size: 30px;
}

.simple_form {
  min-width: 80%;
}

.form-check {
  font-size: 0.8rem;
  color: rgb(93, 93, 93);
}

.field {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  margin: 0.8rem 0;
}

.actions {
  margin: 0.8rem 0;
  display: flex;
  justify-content: center;
}

.full-height {
  height: 100vh;
}

.btn-primary {
  color: white;
  background-color: #3778c2;
  border: none;
  border-radius: 10px;
}

abbr {
  color: rgb(189, 1, 1);
}

.m-0 {
  margin: 0;
}

#notice,
#alert {
  padding: 0.35rem;
  margin: 0;
}

#alert {
  background-color: #ffb5b5;
}

#notice {
  color: white;
  background-color: #60b52393;
}

.d-none {
  display: none;
}

.icon {
  width: 30px;
}

.white {
  color: white;
}

.bg-gradient-blue {
  background: linear-gradient(45deg, #3678c2, #143562);
}

.bg-light-grey {
  background-color: #f1f1f1;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;

  form {
    display: flex;
    width: 50%;
    min-height: 20vh;
    flex-wrap: wrap;
    align-items: center;

    div {
      flex: 1 1 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      input {
        margin: 0.5rem;
        width: 100%;
      }
    }
  }
}

.w-100 {
  width: 100%;
}

.box {
  padding: 10px 15px;
  margin: 8px;

  &-pr {
    border: white 1.5px solid;
    border-radius: 8px;
  }
}

.btn {
  margin: 0.3rem 0;
  font-size: 1.2rem;
}

.profile-btn {
  padding: 0.35rem;
  margin: 0.5rem 0;
  font-size: 2.25rem;
}

a.btn {
  color: black;
  border-color: rgba(153, 153, 153, 0.794);
  margin: 0.3rem 0;
  font-size: 1.2rem;

  &-light,
  &-light:hover,
  &-light:visited {
    border: white solid 1px;
    border-radius: 8px;
    background: transparent;
    text-decoration: none;
    color: white;
  }

  &:hover,
  &-light:hover {
    background: #0003;
  }

  text-decoration: none;
}

.bigger-box {
  height: 4rem;
}

.list-item,
.list-item-light {
  background-color: white;
  width: 90%;
  margin: 0.5rem 0;
  font-size: 2rem;

  .date {
    font-size: 1rem;
    color: dimgray;
  }
}

.list-item {
  &:hover,
  &:visited {
    color: black;
    text-decoration: none;
  }
}
