@import "bootstrap";

.btn-primary {
  color: white;
  background-color: #006adb;
  border-color: #006adb;
}

abbr {
  color: rgb(189, 1, 1);
}

.m-0 {
  margin: 0;
}

#notice,
#alert {
  margin: 0;
  border: 3px solid darkred;
}

.d-none {
  display: none;
}

.icon {
  width: 30px;
}

.white {
  color: white;
}

.bg-gradient-blue {
  background: linear-gradient(45deg, #3678c2, #143562);
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;

  form {
    display: flex;
    width: 50%;
    min-height: 20vh;
    flex-wrap: wrap;
    align-items: center;

    div {
      flex: 1 1 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      input {
        margin: 0.5rem;
        width: 100%;
      }
    }
  }
}

.container div .w-100 {
  width: 100%;
}

.box {
  padding: 10px 15px;
  margin: 8px;

  &-pr {
    border: white 1.5px solid;
    border-radius: 8px;
  }
}

.big-font {
  font-size: 3rem;
  line-height: normal;
}

a.btn {
  color: black;
  border-color: black;

  &-light,
  &-light:hover,
  &-light:visited {
    border: white solid 1px;
    border-radius: 8px;
    background: transparent;
    text-decoration: none;
    color: white;
  }

  &:hover,
  &-light:hover {
    background: #0003;
  }

  text-decoration: none;
}

.bigger-box {
  height: 4rem;
}
